[run]
branch = True
source =
    app

[report]
omit =
    */__init__.py
    */tests/*
    */migrations/*
    */main.py
    */config/*
show_missing = True
skip_covered = True

[html]
directory = htmlcov
